body { 
color: rgb(240, 195, 195);}

.navbar {
  box-shadow: 2px 2px 5px #eb6f6f;
  opacity: 0.9;
  background-color: hsl(310, 100%, 5%);
  margin: 10px;
  margin-top: 0;
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;

  ; }
  .navbar .nav-item {
    font-size: 1.4rem;
    padding-right: 20px;
    text-transform: uppercase;
    color: white;
    
    
    
   }
   #navitem{
     color: whitesmoke;
   }
   

    .fa-shopping-cart{
     float: right;
     font-size: xx-large;
     color: blue;
    }
    .fa{
      color: white;
    }
    .wrapper{
      
      background: url(../img/bg1.jpg);
      background-size: cover;
      border-radius: 10px;
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0px;
      min-height: 100px;
      padding-top: 10px;
      margin: 10px;
      margin-bottom: 0;
      
    }
    .navbar-brand{
      padding-top: 5px;
      width: 100%;
    }
    .form-group p{
      padding-top: 30px;
      font-weight: bold;
      color:rgb(243, 80, 21);
    }
    h1,h2,h3,h4,h5,h6{
      color: rgb(70, 63, 63);
    }
    #showcase h5{
      color: firebrick;
    }
    .card{
      border: none;
    }
    .shopnow1{
      margin-bottom: 0;
      padding-bottom: 0;
      
    }
.shopnow{
  text-align: center;
  margin-top: 0;
  padding-top: 0;
  width: 50%;
  border-radius: 7px;
  
  
}
.carousel-item {
  height: 450px; }

.carousel-image-1 {
  background: url("../img/laptop1.jpg");
  background-size: cover; }

.carousel-image-2 {
  background: url("../img/lp11.jpg");
  background-size: cover; }

.carousel-image-3 {
  background: url("../img/lp7.jpg");
  background-size: cover; }