body { 
color: whitesmoke;}

.navbar {
  box-shadow: 2px 2px 5px #3292a6;
  opacity: 0.9;
  background:rgb(110, 25, 25);
  margin: 10px;
  margin-top: 0;
  border-radius: 10px;

  ; }
  .navbar .nav-item {
    font-size: 1.4rem;
    padding-right: 20px;
    text-transform: uppercase;
    
    
    
   }
   li {
      color: whitesmoke;
   }

    .fa-shopping-cart{
     float: right;
     font-size: xx-large;
     color: blue;
    }
    .fa{
      color: white;
    }
    .wrapper{
      
      background: url(../img/bg1.jpg);
      background-size: cover;
      border-radius: 10px;
      min-height: 100px;
      padding-top: 10px;
      margin: 10px;
      margin-bottom: 0;
      
    }
    .navbar-brand{
      padding-top: 5px;
      width: 100%;
    }
    .form-group p{
      padding-top: 30px;
      font-weight: bold;
      color:rgb(243, 80, 21);
    }
    h1,h2,h3,h4,h5,h6{
      color: rgb(70, 63, 63);
    }
    #showcase h5{
      color: firebrick;
    }
    .card{
      border: none;
    }
